{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор данного проекта</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать(или не умения).
  <p> 
    <h3><span style="color:rgb(130, 77, 94)">Начнем с того, что меня вдохновляет и помогает не опускать руки!</span></h3>
    <hr />
  </p>
  <p>
    <h5>У меня есть несколько помощников в моем деле:</h5>
    <ul>
        <li>Конечно же, это семья и близкие люди, без которых невозможно жить(да и с ними не особо легко)</li>
        <li>Так же меня сильно вдохновляет любимая музыка, которая фоном играет во время работы.</li>
        <li>Книги, написанные величайшими авторами: Альбер Камю, Джордж Оруэлл и, конечно же, Олдос Хаксли.</li>
        <li>Прогулки на свежем воздухе и за городом</li>
    </ul>
  </p>
  <hr />
  <p>
    <h5>Сейчас будет коротенькая история, как я пришел к этому сложному, но интересному делу- программированию</h5>
    Изначально я был творческой личностью, рисовал, играл на гитаре и фортепьяно. готовился поступить на архитектора в весьма престижный
    университет. Но как же я ошибался..
  </p>
  <p>
    Поступив в институт, я понял, что перспектив у архитектуры нет совсем, университет не нацелен на обучение студентов, а только на то,
    что б высосать из них больше денег. Проучившить 4 года я понял, что это яма, в которую ты потихоньку падаешь. В этот момент мне и 
    пришла идея сменить направление своего движения, так я и попал на курсы 
    Яндекс.Практикума.
  </p>
</p>
{% endblock %} 